@root-backup
.env/
admin/node_modules/
admin/package-lock.json/

customer/node_modules/
customer/package-lock.json/

graphql/node_modules/
graphql/package-lock.json/

mobile/.expo/
mobile/.expo-shared/
mobile/node_modules/
mobile/package-lock.json/

server/node_modules/
server/package-lock.json/

shop/node_modules/
shop/package-lock.json/

socket/node_modules/
socket/package-lock.json/

dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*

# wp
web-build/
wp-admin/
wp-content/
wp-includes/
logs/

# macOS
.DS_Store
